attrs==21.4.0
click==8.0.3
colorama==0.4.4
decorator==5.1.0
Deprecated==1.2.13
flasgger==0.9.5
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.3.3
MarkupSafe==2.0.1
mistune==2.0.1
packaging==21.3
psycopg2==2.9.3
PyJWT==2.3.0
pyparsing==3.0.6
pyrsistent==0.18.0
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.29
validators==0.18.2
Werkzeug==2.0.2
wrapt==1.13.3
